[Unit]
Description=Timer {{ item.name }}

[Timer]
{% if item.on_active_sec is defined %}
OnActiveSec={{ item.on_active_sec }}
{% endif %}
{% if item.on_boot_sec is defined %}
OnBootSec={{ item.on_Boot_Sec }}
{% endif %}
{% if item.on_startup_sec is defined %}
OnStartupSec={{ item.on_startup_sec }}
{% endif %}
{% if item.on_unit_active_sec is defined %}
OnUnitActiveSec={{ item.on_unit_active_sec }}
{% endif %}
{% if item.on_unit_inactive_sec is defined %}
OnUnitInactiveSec={{ item.on_unit_inactive_sec }}
{% endif %}
{% if item.on_calendar is defined %}
OnCalendar={{ item.on_calendar }}
Persistent={{ item.persistent | default('false') }}
{% endif %}
AccuracySec={{ item.accuracy_sec | default('15s') }}
RandomizedDelaySec={{ item.randomized_delay_sec | default (0) }}

[Install]
WantedBy=timers.target
